.tn-tn_core-component-user-registerform-registerform {
  .form-container {
    max-width: 40rem;
  }

  .password-toggle {
    margin-left: -30px;
    background: inherit;
  }

  .password-toggle:hover {
    cursor: pointer;
  }
}