.tn-tn_cms-component-article-admin-editarticle-articlestatuseditor-articlestatuseditor {
  .component-loading {
    position: static;
    width: auto;
    border: 0;
    margin: 0;
    padding: 0;
  }
}