.tn-tn_cms-component-article-admin-editarticle-articlethumbnaileditor-articlethumbnaileditor {
  img {
    cursor: pointer;
    height: 200px;
    object-fit: cover
  }

  .card {
    height: 200px;
    padding: 0;
    overflow: hidden;

    .carousel-control-next-icon, .carousel-control-prev-icon {
      height: 3rem;
      width: 3rem;
    }
  }
}